<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">
    <t t-extend="Login">

       	<t t-jquery="div.oe_login div.oe_login_pane div.oe_login_logo" t-operation="replace">
			<div class="oe_login_logo"><img src='/web_customization/static/src/img/logo/kubamed.png'/></div> 
	    </t>

		<t t-jquery="div.oe_login div.oe_login_pane div.oe_login_dbpane" t-operation="replace">
			<div class="oe_login_dbpane" >
                    Base de Datos:
                    <input name="db" t-att-value="widget.selected_db || ''"/>
            </div>
	    </t>

		<t t-jquery="div.oe_login div.oe_login_footer" t-operation="replace">
			<div class="oe_login_footer">
                <a href="#" class="oe_login_manage_db">Gestionar Bases de Datos</a>
            </div>
	    </t>
	</t>

	<t t-jquery="form ul:first li:has(button[name=submit])" t-operation="replace">
            <li>
                <button name="submit">
                    <span data-modes="default">Ingresar</span>
                    <span data-modes="signup">Registrar</span>
                    <span data-modes="reset">Resetear Contraseña</span>
                </button>
                <a class="oe_signup_signup" data-modes="default" href="#">Registrar</a>
                <a class="oe_signup_back" data-modes="signup reset" href="#">Regresar a Ingresar</a>
            </li>
    </t> 

	<t t-extend="WebClient">
	    <t t-jquery="table.oe_webclient tr td div.oe_footer" t-operation="replace">				 
	    </t>
	</t>

</templates>