.draggable, #t1, #t2, #t3, #t4, #t5{
    cursor: pointer; 
    font-weight: bold; 
    font-size: 22px; 
    font-family: sans-serif; 
}

.draggable{ 
    width: 25px; 
    height: 25px;           
    float: left;
    text-align: center;
}

#droppable { 
    width: 180px; 
    height: 180px; 
    background-color: white;
} 

#symbols{
    display: flex;
    flex-direction: column;  
    margin-top: 15px;
}

#colorSelector{
    margin-top: 15px;
}

#tt1, #tt2, #tt3, #tt4, #tt5 {     
    font-weight: bold; 
    font-size: 22px; 
    font-family: sans-serif; 
}

#draggableOO{
    font-weight: bold; 
    font-size: 18px; 
    font-family: sans-serif; 
    width: 35px; 
}

.center-text{
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

div.row div span, div.row-center div span{
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.font{
    width: 60px;
    height: 60px;
    border: 2px solid black
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;    
}

.row-center{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
}

.spacing{
    width: 10px;
}

.separator{
    margin-top: 18.35px;
}

.hidden{
    display: none;
}

.font-bold{
    font-weight: bold;
}

.font-size{
    font-size: 16px;
    font-family: sans-serif;
}

.corona-style{
    font-size: 80px;
    font-family: sans-serif;
}

.solid-border{
    border: 1px solid black;
}
