.draggable, #t1, #t2, #t3, #t4, #t5{
    cursor: pointer; 
    font-weight: bold; 
    font-size: 22px; 
    font-family: sans-serif; 
}

.draggable { 
    width: 25px; 
    height: 25px;           
    float: left;
    text-align: center;
}

#droppable { 
    width: 180px; 
    height: 180px; 
    background-color: white;
} 

#symbols{
    display: flex;
    flex-direction: column;  
    margin-top: 15px;
}

#colorSelector{
    margin-top: 15px;
}

#tt1, #tt2, #tt3, #tt4, #tt5 {     
    font-weight: bold; 
    font-size: 22px; 
    font-family: sans-serif; 
}

#draggableOO{
    font-weight: bold; 
    font-size: 18px; 
    font-family: sans-serif; 
    width: 35px; 
}

#droppable,#pieza18,#mainFrame{
    background-size: 120px 120px;
}

.container{
    display: flex;
    flex-direction: row;  
}

.container span{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

div.spacing{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.font{
    width: 60px;
    height: 60px;
    border: 2px solid black
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;    
}

.container-middle-left{
    display: flex;
    flex-direction: nowrap;  
    text-align: center; 
    margin-left: 120px;
}

.container-middle-right{
    display: flex;
    flex-direction: nowrap;  
    text-align: center; 
    margin-left: 240px;
}

.container-middle-left span,.container-middle-right span{
    font-weight: bold;
}
