.odontograma_c {
	background-image: url("/oemedical_dentist_test/static/src/img/Cuadro2.png");
	width: 433px;
	height: 425px;
	width: 350px;
	height: 344px;
}

.odontograma_c_peque {
	background-image: url("/oemedical_dentist_test/static/src/img/cuadro_peque3.png");
	width: 60px;
	height: 58px;
	max-width: 60px;
	max-height: 58px;
}

.odontograma_c_prosthesis {
	background-image: url("/oemedical_dentist_test/static/src/img/cuadro_peque3_azul.png");
	width: 64px;
	height: 62px;
	max-width: 64px;
	max-height: 62px;
}

.odontograma_o {
	background-image: url("/oemedical_dentist_test/static/src/img/Circulo2.png");
	width: 420px;
	height: 372px;
	width: 350px;
	height: 310px;
}

.odontograma_o_peque {
	background-image: url("/oemedical_dentist_test/static/src/img/circulo_peque3.png");
	width: 60px;
	height: 53px;
	max-width: 60px;
	max-height: 53px;
}

.xhtml {
	position: relative;
	width: 80%;
	margin-left: 9px;
	margin-top: 3px;
	margin-bottom: -1px;
	text-align: left;

	max-width: 6px;
	width: 4px;
	
	height: 16px;
	max-height: 16px;
}

.xhtml_big {
	position: relative;
	width: 80%;
	margin-left: 12px;
	margin-top: 3px;
	margin-bottom: -1px;
	text-align: left;

	max-width: 6px;
	width: 6px;
	
	height: 16px;
	max-height: 16px;
}

.xhtml2 {
	position: relative;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: -1px;
	text-align: left;
	max-width: 13px;
	width: 13px;
	height: 16px;
	max-height: 16px;
}