div.oe_loading{     
    border: 1px solid darkblue !important;
}

div.oe_login div.oe_login_error_message{     
    font-weight: inherit !important;
}

div.oe_loading, 
div.oe_login div.oe_login_error_message
{
    background-color: darkblue !important;    
}

div.oe_login div.oe_login_bottom, 
div.oe_login div.oe_login_pane button,
button.oe_button.oe_list_add,
button.oe_button.oe_list_add.oe_highlight,
button.oe_button.oe_form_button_save,
button.oe_button.oe_form_button_save.oe_highlight,
button.oe_button.oe_form_button.oe_highlight,
button.oe_kanban_button_new.oe_highlight,
button.oe_button.oe_highlight.db_create,
button.oe_button.oe_highlight.db_duplicate,
button.oe_button.oe_highlight.db_duplicate,
button.oe_button.oe_highlight.db_drop,
button.oe_button.oe_highlight.db_backup,
button.oe_button.oe_highlight.db_restore,
button.oe_button.oe_highlight.db-change-password,
button.oe_write_full.oe_highlight
{
    background-image: linear-gradient(to bottom, dodgerblue, darkblue) !important;
}

button.oe_button.oe_form_button.oe_link,
button.oe_button.oe_form_button.oe_link span
{
    background: none !important; 
}

div.oe_login div.oe_login_pane div.oe_login_logo
{
   top: -80px;
}

div.oe_login div.oe_login_pane div.oe_login_logo img
{
   width: 330px;
   height: 70px;   
}

.openerp .oe_topbar{
    background-image: linear-gradient(to bottom, dodgerblue, darkblue) !important;
}